@import "tailwindcss";

* {
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}

html, body {
    height: 100%;
}


.btn-primary {
    @apply bg-blue-700 hover:bg-blue-800 text-white rounded-md p-3 font-bold cursor-pointer tracking-wider transition;
}

.btn-link {
    @apply text-blue-700 hover:text-blue-800 font-bold cursor-pointer transition;
}